In [1]:
import pandas as pd
import numpy as np

In [2]:
all_meter_data=pd.read_csv("Miising_Days_Data.csv")
all_meter_data

,Time Stamp,Meter1,Meter2,Meter3,Meter4,Meter5,Meter6,Meter7,Meter8,Meter9,...,Meter42,Meter43,Meter44,Meter45,Meter46,Meter47,Meter48,Meter49,Meter50,Time
0,01-11-2022,1.3,4.7,0.5,4.5,3.3,1.9,0.6,2.3,5.7,...,1.3,0.4,0.5,0.7,1.7,1.1,1.1,3.5,1.9,00:00:00
1,01-11-2022,3.0,6.0,0.0,6.7,3.4,2.8,0.5,1.8,4.8,...,1.7,0.7,0.1,0.8,1.1,1.1,0.8,2.5,2.0,00:30:00
2,01-11-2022,3.2,4.7,0.6,4.2,3.1,2.7,1.0,2.1,4.5,...,1.2,0.1,0.8,0.7,0.9,1.7,1.3,2.7,1.2,01:00:00
3,01-11-2022,4.8,4.0,0.7,5.2,3.3,2.2,1.5,1.6,4.8,...,1.3,0.4,0.0,0.8,1.4,1.5,1.3,3.6,1.8,01:30:00
4,01-11-2022,2.5,3.0,0.8,6.0,3.7,2.8,1.0,1.8,6.7,...,1.5,0.0,0.9,0.7,1.3,0.5,1.2,2.6,2.5,02:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,30-11-2022,2.0,3.4,1.6,6.3,1.0,2.0,1.0,3.0,0.6,...,0.8,0.2,0.8,0.9,1.1,0.4,2.8,4.3,14.4,21:30:00
1436,30-11-2022,2.0,4.6,1.6,5.2,0.5,1.4,0.8,4.8,0.8,...,1.3,0.3,0.3,0.2,1.3,0.6,1.8,3.6,12.4,22:00:00
1437,30-11-2022,2.6,5.1,1.7,6.5,0.3,2.6,0.7,5.2,1.2,...,0.9,0.7,1.0,0.0,3.3,0.6,1.1,4.8,3.3,22:30:00
1438,30-11-2022,1.8,4.2,1.9,4.9,0.2,2.0,0.8,5.8,0.8,...,1.3,1.1,0.7,0.8,2.5,1.5,1.6,3.1,4.0,23:00:00
1439,30-11-2022,2.5,5.1,1.6,7.3,0.0,3.2,1.1,7.2,0.8,...,1.6,1.0,0.6,0.6,1.3,0.8,1.4,3.1,8.7,23:30:00

In [3]:
all_meter_data.shape

(1440, 52)

In [4]:
all_meter_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440 entries, 0 to 1439
Data columns (total 52 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Time Stamp  1440 non-null   object
 1   Meter1      1432 non-null   float64
 2   Meter2      1384 non-null   float64
 3   Meter3      1432 non-null   float64
 4   Meter4      1432 non-null   float64
 5   Meter5      1440 non-null   float64
 6   Meter6      1440 non-null   float64
 7   Meter7      1440 non-null   float64
 8   Meter8      1440 non-null   float64
 9   Meter9      1440 non-null   float64
 10  Meter10     1440 non-null   float64
 11  Meter11     1440 non-null   float64
 12  Meter12     1440 non-null   float64
 13  Meter13     1440 non-null   float64
 14  Meter14     1440 non-null   float64
 15  Meter15     1440 non-null   float64
 16  Meter16     1440 non-null   float64
 17  Meter17     1440 non-null   float64
 18  Meter18     1440 non-null   float64
 19  Meter19     1440 non-null   float64
 20  Meter20     1440 non-null   float64
 21  Meter21     1440 non-null   float64
 22  Meter22     1440 non-null   float64
 23  Meter23     1440 non-null   float64
 24  Meter24     1440 non-null   float64
 25  Meter25     1440 non-null   float64
 26  Meter26     1440 non-null   float64
 27  Meter27     1440 non-null   float64
 28  Meter28     1440 non-null   float64
 29  Meter29     1440 non-null   float64
 30  Meter30     1440 non-null   float64
 31  Meter31     1440 non-null   float64
 32  Meter32     1440 non-null   float64
 33  Meter33     1440 non-null   float64
 34  Meter34     1440 non-null   float64
 35  Meter35     1440 non-null   float64
 36  Meter36     1440 non-null   float64
 37  Meter37     1440 non-null   float64
 38  Meter38     1440 non-null   float64
 39  Meter39     1440 non-null   float64
 40  Meter40     1440 non-null   float64
 41  Meter41     1440 non-null   float64
 42  Meter42     1440 non-null   float64
 43  Meter43     1440 non-null   float64
 44  Meter44     1440 non-null   float64
 45  Meter45     1440 non-null   float64
 46  Meter46     1440 non-null   float64
 47  Meter47     1440 non-null   float64
 48  Meter48     1440 non-null   float64
 49  Meter49     1440 non-null   float64
 50  Meter50     1440 non-null   float64
 51  Time        1440 non-null   object
dtypes: float64(50), object(2)
memory usage: 585.1+ KB

In [5]:
test_case=pd.read_excel("C:/Users/K BHAVANI SHANKAR/Downloads/test_case.xlsx")
test_case

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/K BHAVANI SHANKAR/Downloads/test_case.xlsx'

In [6]:
test_case.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Sub-Station Name                 50 non-null     object
 1   Sub-Station CoR Number           50 non-null     object
 2   Feeder Name                      50 non-null     object
 3   Feeder CoR Number                50 non-null     object
 4   Secondary Substation Name        50 non-null     object
 5   Secondary Substation CoR Number  50 non-null     object
 6   Feeder Way CoR Number            50 non-null     object
 7   Smart Meter Number               50 non-null     int64
 8   Meter Name                       50 non-null     object
 9   Polling Group                    50 non-null     int64
dtypes: int64(2), object(8)
memory usage: 4.0+ KB

In [7]:
def feeder(f):
    x=test_case["Meter Name"].where(test_case["Feeder Way CoR Number"]==f)
    x=x.dropna()
    x=list(x)
    x.insert(0,"Time Stamp")
    df=all_meter_data.loc[:,x]
    df["Sum"]=0
    for j in x[1:]:
        df["Sum"]+=df[j]
    print(df)

In [9]:
feeder("1U2409_85")

            Time Stamp  Meter 20  Meter 21  Meter 22  Meter 23  Meter 24   Sum
0     01-11-2022 00:00       3.6       2.5       1.7       0.6       0.4   8.8
1     01-11-2022 00:30       2.7       2.7       1.7       0.3       0.1   7.5
2     01-11-2022 01:00       2.9       1.8       2.4       0.4       0.5   8.0
3     01-11-2022 01:30       4.5       1.4       1.8       0.1       0.8   8.6
4     01-11-2022 02:00       4.6       3.3       2.1       0.7       0.7  11.4
...                ...       ...       ...       ...       ...       ...   ...
1435  30-11-2022 21:30       7.5       1.8       0.7       0.7       0.7  11.4
1436  30-11-2022 22:00       6.1       0.8       0.4       0.0       1.1   8.4
1437  30-11-2022 22:30       7.7       1.4       0.9       0.3       0.4  10.7
1438  30-11-2022 23:00       5.5       1.3       0.2       0.8       0.4   8.2
1439  30-11-2022 23:30       6.0       1.8       0.6       0.8       1.3  10.5

[1440 rows x 7 columns]

In [8]:
feeder("1U2314_4")

            Time Stamp  Meter 19  Sum
0     01-11-2022 00:00       0.0  0.0
1     01-11-2022 00:30       1.0  1.0
2     01-11-2022 01:00       0.6  0.6
3     01-11-2022 01:30       0.6  0.6
4     01-11-2022 02:00       0.7  0.7
...                ...       ...  ...
1435  30-11-2022 21:30       1.5  1.5
1436  30-11-2022 22:00       2.3  2.3
1437  30-11-2022 22:30       2.4  2.4
1438  30-11-2022 23:00       1.9  1.9
1439  30-11-2022 23:30       1.9  1.9

[1440 rows x 3 columns]

In [10]:
feeder("1U2153_5")

            Time Stamp  Meter 2  Meter 3  Meter 4  Meter 5   Sum
0     01-11-2022 00:00      4.7      0.5      4.5      3.3  13.0
1     01-11-2022 00:30      6.0      0.0      6.7      3.4  16.1
2     01-11-2022 01:00      4.7      0.6      4.2      3.1  12.6
3     01-11-2022 01:30      4.0      0.7      5.2      3.3  13.2
4     01-11-2022 02:00      3.0      0.8      6.0      3.7  13.5
...                ...      ...      ...      ...      ...   ...
1435  30-11-2022 21:30      3.4      1.6      6.3      1.0  12.3
1436  30-11-2022 22:00      4.6      1.6      5.2      0.5  11.9
1437  30-11-2022 22:30      5.1      1.7      6.5      0.3  13.6
1438  30-11-2022 23:00      4.2      1.9      4.9      0.2  11.2
1439  30-11-2022 23:30      5.1      1.6      7.3      0.0  14.0

[1440 rows x 6 columns]

In [11]:
def sub_station(s):
    f=test_case["Feeder Way CoR Number"].where(test_case["Secondary Substation CoR Number"]==s)
    f=f.dropna()
    f=list(f)
    f=set(f)

    for i in f:
        x=test_case["Meter Name"].where(test_case["Feeder Way CoR Number"]==i)
        x=x.dropna()
        x=list(x)
        x.insert(0,"Time Stamp")
        df=all_meter_data.loc[:,x]
        df["Sum"]=0
        for j in x[1:]:
            df["Sum"]+=df[j]
        print("\n")
        print(i+ " Feeder")
        print("\n")
        print(df)

In [12]:
sub_station("WOOLWORTHS- IPSWICH")

1U2314_13 Feeder


            Time Stamp  Meter 8  Meter 9  Sum
0     01-11-2022 00:00      2.3      5.7  8.0
1     01-11-2022 00:30      1.8      4.8  6.6
2     01-11-2022 01:00      2.1      4.5  6.6
3     01-11-2022 01:30      1.6      4.8  6.4
4     01-11-2022 02:00      1.8      6.7  8.5
...                ...      ...      ...  ...
1435  30-11-2022 21:30      3.0      0.6  3.6
1436  30-11-2022 22:00      4.8      0.8  5.6
1437  30-11-2022 22:30      5.2      1.2  6.4
1438  30-11-2022 23:00      5.8      0.8  6.6
1439  30-11-2022 23:30      7.2      0.8  8.0

[1440 rows x 4 columns]


1U2314_11 Feeder


            Time Stamp  Meter 6  Meter 7  Sum
0     01-11-2022 00:00      1.9      0.6  2.5
1     01-11-2022 00:30      2.8      0.5  3.3
2     01-11-2022 01:00      2.7      1.0  3.7
3     01-11-2022 01:30      2.2      1.5  3.7
4     01-11-2022 02:00      2.8      1.0  3.8
...                ...      ...      ...  ...
1435  30-11-2022 21:30      2.0      1.0  3.0
1436  30-11-2022 22:00      1.4      0.8  2.2
1437  30-11-2022 22:30      2.6      0.7  3.3
1438  30-11-2022 23:00      2.0      0.8  2.8
1439  30-11-2022 23:30      3.2      1.1  4.3

[1440 rows x 4 columns]


1U2314_2 Feeder


            Time Stamp  Meter 10  Meter 11   Sum
0     01-11-2022 00:00       6.2       3.4   9.6
1     01-11-2022 00:30       8.0       4.3  12.3
2     01-11-2022 01:00       5.0       3.9   8.9
3     01-11-2022 01:30       6.2       2.8   9.0
4     01-11-2022 02:00       5.6       2.4   8.0
...                ...       ...       ...   ...
1435  30-11-2022 21:30      29.5       7.4  36.9
1436  30-11-2022 22:00      25.0       7.1  32.1
1437  30-11-2022 22:30      35.5       8.0  43.5
1438  30-11-2022 23:00      30.2       8.0  38.2
1439  30-11-2022 23:30      33.7       7.4  41.1

[1440 rows x 4 columns]


1U2314_4 Feeder


            Time Stamp  Meter 19  Sum
0     01-11-2022 00:00       0.0  0.0
1     01-11-2022 00:30       1.0  1.0
2     01-11-2022 01:00       0.6  0.6
3     01-11-2022 01:30       0.6  0.6
4     01-11-2022 02:00       0.7  0.7
...                ...       ...  ...
1435  30-11-2022 21:30       1.5  1.5
1436  30-11-2022 22:00       2.3  2.3
1437  30-11-2022 22:30       2.4  2.4
1438  30-11-2022 23:00       1.9  1.9
1439  30-11-2022 23:30       1.9  1.9

[1440 rows x 3 columns]


1U2314_14 Feeder


            Time Stamp  Meter 12  Meter 13  Meter 14  Meter 15  Meter 16  \
0     01-11-2022 00:00       0.7       1.1       3.1       1.3       2.6
1     01-11-2022 00:30       0.3       1.6       4.0       1.4       3.1
2     01-11-2022 01:00       0.8       2.0       1.9       1.6       3.0
3     01-11-2022 01:30       1.2       2.2       3.4       1.8       2.8
4     01-11-2022 02:00       0.8       1.2       2.4       2.1       2.5
...                ...       ...       ...       ...       ...       ...
1435  30-11-2022 21:30       2.9       1.3       3.1       2.8       4.5
1436  30-11-2022 22:00       4.8       1.4       1.8       2.4       3.7
1437  30-11-2022 22:30       4.5       1.9       2.8       1.3       2.8
1438  30-11-2022 23:00       4.0       0.8       4.0       1.8       3.0
1439  30-11-2022 23:30       2.6       1.3       2.8       1.7       2.8

      Meter 17  Meter 18   Sum
0          0.3       1.2  10.3
1          0.5       1.5  12.4
2          1.0       0.8  11.1
3          1.3       1.7  14.4
4          0.9       1.7  11.6
...        ...       ...   ...
1435       2.8       0.9  18.3
1436       2.9       0.5  17.5
1437       3.3       0.4  17.0
1438       2.6       0.9  17.1
1439       1.1       0.1  12.4

[1440 rows x 9 columns]

In [13]:
sub_station("FORE HAMLET LOCAL RMU's")

1U2409_96 Feeder


            Time Stamp  Meter 34  Meter 35  Meter 36  Meter 37   Sum
0     01-11-2022 00:00       3.3       0.0       2.2       0.5   6.0
1     01-11-2022 00:30       3.2       0.6       1.6       1.0   6.4
2     01-11-2022 01:00       3.4       0.5       1.5       0.8   6.2
3     01-11-2022 01:30       2.4       0.4       1.6       0.9   5.3
4     01-11-2022 02:00       2.3       0.5       2.3       0.3   5.4
...                ...       ...       ...       ...       ...   ...
1435  30-11-2022 21:30       5.0       1.9       2.8       2.0  11.7
1436  30-11-2022 22:00       2.6       0.9       2.1       1.3   6.9
1437  30-11-2022 22:30       2.5       1.3       2.6       0.4   6.8
1438  30-11-2022 23:00       2.2       0.0       4.6       0.5   7.3
1439  30-11-2022 23:30       3.1       0.6       3.6       0.4   7.7

[1440 rows x 6 columns]


1U2409_93 Feeder


            Time Stamp  Meter 30  Meter 31  Meter 32  Meter 33  Sum
0     01-11-2022 00:00       0.8       0.8       3.0       2.1  6.7
1     01-11-2022 00:30       0.5       0.7       2.4       2.2  5.8
2     01-11-2022 01:00       0.2       0.8       2.9       2.1  6.0
3     01-11-2022 01:30       0.5       0.1       2.6       2.5  5.7
4     01-11-2022 02:00       0.3       0.6       3.6       1.6  6.1
...                ...       ...       ...       ...       ...  ...
1435  30-11-2022 21:30       0.8       1.3       2.2       0.6  4.9
1436  30-11-2022 22:00       0.7       0.5       1.4       0.4  3.0
1437  30-11-2022 22:30       0.9       0.8       2.3       0.7  4.7
1438  30-11-2022 23:00       0.1       2.0       2.2       3.2  7.5
1439  30-11-2022 23:30       0.1       0.4       2.0       2.7  5.2

[1440 rows x 6 columns]


1U2409_99 Feeder


            Time Stamp  Meter 38  Meter 39  Meter 40  Meter 41  Meter 42  \
0     01-11-2022 00:00       0.0       3.2       0.5       1.4       1.3
1     01-11-2022 00:30       0.1       1.5       0.8       1.3       1.7
2     01-11-2022 01:00       1.0       2.2       0.0       2.0       1.2
3     01-11-2022 01:30       0.5       2.0       0.9       1.4       1.3
4     01-11-2022 02:00       0.7       2.0       0.6       2.5       1.5
...                ...       ...       ...       ...       ...       ...
1435  30-11-2022 21:30       2.0       2.5       1.7       0.9       0.8
1436  30-11-2022 22:00       1.2       2.7       1.9       0.6       1.3
1437  30-11-2022 22:30       1.7       2.4       2.3       1.3       0.9
1438  30-11-2022 23:00       0.7       1.4       1.0       1.4       1.3
1439  30-11-2022 23:30       0.7       2.1       1.5       1.0       1.6

      Meter 43  Meter 44  Meter 45  Meter 46  Meter 47   Sum
0          0.4       0.5       0.7       1.7       1.1  10.8
1          0.7       0.1       0.8       1.1       1.1   9.2
2          0.1       0.8       0.7       0.9       1.7  10.6
3          0.4       0.0       0.8       1.4       1.5  10.2
4          0.0       0.9       0.7       1.3       0.5  10.7
...        ...       ...       ...       ...       ...   ...
1435       0.2       0.8       0.9       1.1       0.4  11.3
1436       0.3       0.3       0.2       1.3       0.6  10.4
1437       0.7       1.0       0.0       3.3       0.6  14.2
1438       1.1       0.7       0.8       2.5       1.5  12.4
1439       1.0       0.6       0.6       1.3       0.8  11.2

[1440 rows x 12 columns]


1U2409_85 Feeder


            Time Stamp  Meter 20  Meter 21  Meter 22  Meter 23  Meter 24   Sum
0     01-11-2022 00:00       3.6       2.5       1.7       0.6       0.4   8.8
1     01-11-2022 00:30       2.7       2.7       1.7       0.3       0.1   7.5
2     01-11-2022 01:00       2.9       1.8       2.4       0.4       0.5   8.0
3     01-11-2022 01:30       4.5       1.4       1.8       0.1       0.8   8.6
4     01-11-2022 02:00       4.6       3.3       2.1       0.7       0.7  11.4
...                ...       ...       ...       ...       ...       ...   ...
1435  30-11-2022 21:30       7.5       1.8       0.7       0.7       0.7  11.4
1436  30-11-2022 22:00       6.1       0.8       0.4       0.0       1.1   8.4
1437  30-11-2022 22:30       7.7       1.4       0.9       0.3       0.4  10.7
1438  30-11-2022 23:00       5.5       1.3       0.2       0.8       0.4   8.2
1439  30-11-2022 23:30       6.0       1.8       0.6       0.8       1.3  10.5

[1440 rows x 7 columns]


1U2409_86 Feeder


            Time Stamp  Meter 25  Meter 26  Meter 27  Meter 28  Meter 29  Sum
0     01-11-2022 00:00       1.2       1.4       0.6       0.5       0.0  3.7
1     01-11-2022 00:30       1.1       1.4       0.7       1.8       0.1  5.1
2     01-11-2022 01:00       1.7       0.9       1.2       1.3       0.1  5.2
3     01-11-2022 01:30       0.8       1.2       0.8       1.6       0.9  5.3
4     01-11-2022 02:00       0.7       1.6       1.0       1.2       0.7  5.2
...                ...       ...       ...       ...       ...       ...  ...
1435  30-11-2022 21:30       0.9       2.1       0.8       2.6       0.5  6.9
1436  30-11-2022 22:00       0.6       1.6       0.3       2.6       0.3  5.4
1437  30-11-2022 22:30       0.3       1.8       0.9       4.1       0.7  7.8
1438  30-11-2022 23:00       0.8       1.1       1.0       2.6       0.2  5.7
1439  30-11-2022 23:30       0.1       1.4       0.7       3.9       0.5  6.6

[1440 rows x 7 columns]

In [14]:
sub_station("DERBY ROAD")

1U2430_9 Feeder


            Time Stamp  Meter 48  Meter 49  Meter 50   Sum
0     01-11-2022 00:00       1.1       3.5       1.9   6.5
1     01-11-2022 00:30       0.8       2.5       2.0   5.3
2     01-11-2022 01:00       1.3       2.7       1.2   5.2
3     01-11-2022 01:30       1.3       3.6       1.8   6.7
4     01-11-2022 02:00       1.2       2.6       2.5   6.3
...                ...       ...       ...       ...   ...
1435  30-11-2022 21:30       2.8       4.3      14.4  21.5
1436  30-11-2022 22:00       1.8       3.6      12.4  17.8
1437  30-11-2022 22:30       1.1       4.8       3.3   9.2
1438  30-11-2022 23:00       1.6       3.1       4.0   8.7
1439  30-11-2022 23:30       1.4       3.1       8.7  13.2

[1440 rows x 5 columns]

In [15]:
sub_station("FELIXSTOWE RD")

1U2153_5 Feeder


            Time Stamp  Meter 2  Meter 3  Meter 4  Meter 5   Sum
0     01-11-2022 00:00      4.7      0.5      4.5      3.3  13.0
1     01-11-2022 00:30      6.0      0.0      6.7      3.4  16.1
2     01-11-2022 01:00      4.7      0.6      4.2      3.1  12.6
3     01-11-2022 01:30      4.0      0.7      5.2      3.3  13.2
4     01-11-2022 02:00      3.0      0.8      6.0      3.7  13.5
...                ...      ...      ...      ...      ...   ...
1435  30-11-2022 21:30      3.4      1.6      6.3      1.0  12.3
1436  30-11-2022 22:00      4.6      1.6      5.2      0.5  11.9
1437  30-11-2022 22:30      5.1      1.7      6.5      0.3  13.6
1438  30-11-2022 23:00      4.2      1.9      4.9      0.2  11.2
1439  30-11-2022 23:30      5.1      1.6      7.3      0.0  14.0

[1440 rows x 6 columns]


1U2153_0 Feeder


            Time Stamp  Meter 1  Sum
0     01-11-2022 00:00      1.3  1.3
1     01-11-2022 00:30      3.0  3.0
2     01-11-2022 01:00      3.2  3.2
3     01-11-2022 01:30      4.8  4.8
4     01-11-2022 02:00      2.5  2.5
...                ...      ...  ...
1435  30-11-2022 21:30      2.0  2.0
1436  30-11-2022 22:00      2.0  2.0
1437  30-11-2022 22:30      2.6  2.6
1438  30-11-2022 23:00      1.8  1.8
1439  30-11-2022 23:30      2.5  2.5

[1440 rows x 3 columns]